[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
python-decouple = "*"
psycopg2-binary = "*"
pillow = "*"
celery = "*"
redis = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.13"
